@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

@font-face {
  font-family: 'led_calculatorregular';
  src: url('./fonts/ledcalculator-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #34c3fd;
}

#calculator {
  /* aspect-ratio: 2 / 3; */
  width: 320px;
  height: 480px;
  padding: 32px 32px 48px 32px;
  background-color: rgb(67, 73, 97);
  border-radius: 16px;
  border-bottom: 5px solid rgb(0 0 0 / 0.25);
  box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 0.5);
  display: flex;
  flex-direction: column;
}

#brandAndModel {
  margin-bottom: 16px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#brand {
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bold;
}
#model {
  font-size: 16px;
  font-style: italic;
}

#displayPanel {
  height: 100px;
  background-color: rgb(198, 230, 245);
  padding: 8px 16px;
  font-family: 'led_calculatorregular', monospace;
  text-shadow: 0 2px 1px rgb(0, 0, 0, 0.25);
  box-shadow: inset 0 4px rgb(0 0 0 / 0.25);
  border: 1px solid rgb(55 55 55 / 0.5);
  margin-bottom: 32px;
}

#previousOperand,
#currentOperand {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
#previousOperand {
  height: 40%;
  font-size: 24px;
  font-weight: bold;
}
#currentOperand {
  height: 60%;
  font-size: 40px;
}

#keypad {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 8px;
}

/* Keypad keys *//* ////////// *//* ////////// *//* ////////// *//* ////////// */

#keypad > button {
  font-size: 24px;
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: inset 0 -5px rgb(0, 0, 0, 0.25);
  border: 1px solid rgb(55 55 55 / 0.5);
}

#keypad > button:active {
  box-shadow: none;
}

.number,
#changeSign {
  background-color: rgb(255, 255, 255);
}
.number:hover,
#changeSign:hover {
  background-color: rgb(240, 240, 240);
}
.number:active,
#changeSign:active {
  background-color: rgb(255, 255, 255);
}

.operator,
#equals {
  background-color: rgb(40, 220, 180);
}
.operator:hover,
#equals:hover {
  background-color: rgb(30, 210, 170);
}
.operator:active,
#equals:active {
  background-color: rgb(40, 220, 180);
}

#allClear,
#cancelEntry {
  background-color: rgb(50, 50, 50);
  color: #fff;
}
#allClear:hover,
#cancelEntry:hover {
  background-color: rgb(40, 40, 40);
}
#allClear:active,
#cancelEntry:active {
  background-color: rgb(255, 0, 0);
}

/* Grid layout config *//* ////////// *//* ////////// *//* ////////// *//* ////////// */

button[id="allClear"] {
  grid-row-start: 1;
  grid-column-start: 1;
}

button[id="cancelEntry"] {
  grid-row-start: 1;
  grid-column-start: 2;
}

button[value="/"] {
  grid-row-start: 1;
  grid-column-start: 3;
}

button[value="*"] {
  grid-row-start: 1;
  grid-column-start: 4;
}

button[value="7"] {
  grid-row-start: 2;
  grid-column-start: 1;
}

button[value="8"] {
  grid-row-start: 2;
  grid-column-start: 2;
}

button[value="9"] {
  grid-row-start: 2;
  grid-column-start: 3;
}

button[value="-"] {
  grid-row-start: 2;
  grid-column-start: 4;
}

button[value="4"] {
  grid-row-start: 3;
  grid-column-start: 1;
}

button[value="5"] {
  grid-row-start: 3;
  grid-column-start: 2;
}

button[value="6"] {
  grid-row-start: 3;
  grid-column-start: 3;
}

button[value="+"] {
  grid-row-start: 3;
  grid-column-start: 4;
}

button[value="1"] {
  grid-row-start: 4;
  grid-column-start: 1;
}

button[value="2"] {
  grid-row-start: 4;
  grid-column-start: 2;
}

button[value="3"] {
  grid-row-start: 4;
  grid-column-start: 3;
}

button[value="="] {
  grid-row-start: 4;
  grid-column-start: 4;
  grid-row-end: span 2;
}

button[value="0"] {
  grid-row-start: 5;
  grid-column-start: 1;
}

button[value="."] {
  grid-row-start: 5;
  grid-column-start: 2;
}

button[id="changeSign"] {
  grid-row-start: 5;
  grid-column-start: 3;
}